{% extends 'rango/base.html' %}:
{% load staticfiles %} <!-- New line -->

{% block body_block %}
{% if user.is_authenticated %}
    <img src="{% static "images/howdy.jpeg" %}" alt="Buy the ticket, take the ride."/><br><br>

    {% if categories %}
        <br><strong>Available Categories:</strong>
        <ul>
            {% for category in categories %}
            <li> <a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

        <br>

    {% if pages %}
        <strong>Top Five Most Visited Pages:</strong>
        <ul>
            {% for page in pages %}
            <li> {{ page }} </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages present.</strong>
    {% endif %}
{% endif %} 
{% endblock body_block %}
